@import "./variables";
@import "./tooltop";

* {
  margin: 0;
  padding: 0;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin headerFooter($font-size) {
  @include flexCenter;
  position: fixed;
  width: 100%;
  height: 60px;
  font-size: $font-size;
  font-family: $font;
}

.container {
  @include flexCenter();
  background: rgb(13, 26, 36);
  width: 100%;
  height: 100vh;
}

.navbar {
  @include headerFooter(40px);
  top: 0;
  background: $navbar-orange;
}

.searchButton {
  width: 100px;
  height: 50px;
  border-radius: 25px;
  font-family: $font;
  font-size: 30px;
  position: fixed;
  left: 5px;
  &:focus {
    outline: none;
  }
}

.catImage {
  width: 75%;
  height: 75%;
  object-fit: contain;
  border-color: transparent;
}

img[src=""] {
  display: none;
}

.footer {
  @include headerFooter(10px);
  background: rgb(191, 208, 214);
  bottom: 0;
  justify-content: flex-end;
  padding-right: 20px;
}
