@import "./variables";
* {
  margin: 0;
  padding: 0;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  background: $navbar-orange;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  @include flexCenter;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
}
